.left
  %h1= "Songs for '#{@album.name}'"
  %ul#song_list
    -@songs.each_with_index do |song,idx|
      %li.song
        = "#{idx + 1}) #{song.name}"
        =link_to "Edit",edit_album_song_path(@album,song)
        =link_to "Remove",album_song_path(@album,song),:method=>:delete
  =link_to "Add a Song",new_album_song_path(@album)